@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>
    <strong>Email:</strong> <a href="mailto:mail@carlclarke.com">mail@carlclarke.com</a><br />
    <strong>Phone:</strong> <a href="tel:+44 7770 461212">+44 7770 461212</a>
</address>
