@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>This Demonstration</h2>
        <ul>
            <li><a href="~/swagger">View the WebAPI Documentation</a></li>
        </ul>
        <p>This demonstration aims to show the use of Swagger in the implementation of a RESTful-style WebAPI.</p>
        <p>Originally called the Swagger Specification but now adopted by the (<a href="https://www.openapis.org/" target="_blank">OpenAPI Initiative</a>) as an open governance structure under the
        Linux Foundation the Swagger Specification was developed by SmartBear Software. Today it should be correctly referred to as the OpenAPI specification although it has been difficult
        to shake off the 'Swagger' name.</p>
        <p>OpenAPI provides vendor neutral description format for an API. The description can be used to document the API and also to allow code generators to produce client software to consume
        the features of an API. The <a href="~/swagger">View the WebAPI Documentation</a> link demonstrates a user interface that documents this demonstration API and allows exploration by
        invoking its features.</p>
        <p><em>This demonstration has been intentionally kept simple, there is sparse error and exception handling, no database constraints, no HATEOAS (Hypermedia as the Engine of Application State) and no Code on Demand</em></p>

    </div>
    <div class="col-md-6">
        <h2>Useful links</h2>
        <h3>Swagger (OpenAPI)</h3>
        <ul>
            <li><a href="https://swagger.io/specification/" target="_blank">The OpenAPI Specification</a></li>
            <li><a href="https://swagger.io/" target="_blank">The Swagger Website</a></li>
            <li><a href="https://swagger.io/tools/swagger-codegen/" target="_blank">Code Generation Tools</a></li>

        </ul>
        <h3>Representational State Transfer</h3>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">Wikipedia</a></li>
            <li><a href="https://www.restapitutorial.com/lessons/httpmethods.html" target="_blank">Information on Usage of HTTP Verbs</a></li>
            <li><a href="https://martinfowler.com/articles/richardsonMaturityModel.html" target="_blank">Martin Fowler</a></li>
            <li><a href="https://swagger.io/tools/swagger-codegen/" target="_blank">PayPal's RESTful API</a></li>

        </ul>
    </div>
</div>

